@switch-height: 24px;
@switch-graphy-height: 22px;
@switch-icon-height: 16px;
@switch-border-radius: calc(@switch-height / 2);

.wrap() {
  cursor: pointer;
  border: 1px solid @colorSwitchBorder;
  height: @switch-height;
  width: calc(@switch-height * 2);
  background-color: @colorSwitchBackground;
  border-radius: @switch-border-radius;
  position: relative;
}
.switch-wrap {
  .wrap();
  .lnk-icon,
  &:before {
    position: absolute;
    box-sizing: border-box;
    border-radius: 50%;
  }
  &:before {
    content: '';
    background-color: #fff;
    top: 0;
    left: 0;
    transition: left 0.2s 0.1s ease-in-out;
    width: @switch-graphy-height;
    height: @switch-graphy-height;
  }
  .lnk-icon {
    transition: opacity 0.2s ease-in-out;
    top: calc((@switch-height - @switch-icon-height - 2px) / 2);
    width: @switch-icon-height;
    height: @switch-icon-height;
    &.sun {
      left: calc((@switch-height - @switch-icon-height - 2px) / 2);
      opacity: 0;
    }
    &.moon {
      right: calc((@switch-height - @switch-icon-height - 2px) / 2);
      opacity: 1;
    }
  }
  &.locked,
  &.checked {
    background-color: @colorPrimary;
    &::before {
      left: calc(100% - @switch-graphy-height);
    }
    .lnk-icon {
      &.sun {
        opacity: 1;
      }
      &.moon {
        opacity: 0;
      }
    }
  }
  &:hover::before {
    box-shadow: 0 0 3px @colorSwitchGraphyShadow;
  }
  &.disabled {
    cursor: not-allowed;

    background-color: #bfbfbf !important;
    &.checked {
      background-color: #96c480 !important;
    }
  }
}

.lnk-dropdown,
.lnk-menu-submenu {
  -webkit-app-region: no-drag;
}
